button.button {
  color: black;
  background: white;
  width: fit-content;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px #ccc;

  &:active {
    box-shadow: 0 1px #bbb;
    transform: translateY(1px);
  }

  &:hover {
    background: lightgray;
  }

  &.dark {
    color: white;
    background: black;
    box-shadow: 0 2px #444;

    &:hover {
      background: gray;
    }

    &:active {
      box-shadow: 0 1px #555;
      transform: translateY(1px);
    }
  }

  &:disabled {
    background: gray;
    color: lightgray;
    box-shadow: none;
  }
}
