//https://coolors.co/c7cafa-f3ced2-ffffff-222222-ed33b9
//hover one and click the waffle to get shades
$uq-lightpurple: #c7cafa;
$uq-purple: #727bf2;
$uq-darkpurple: #5761ef;
$uq-lightpink: #f3ced2;
$uq-pink: #dd7c8a;
$uq-darkpink: #cd3c52;
$washed-gray: rgba(0, 0, 0, 0.03);
$light-gray: rgba(0, 0, 0, 0.1);
$medium-gray: rgba(0, 0, 0, 0.2);
$dark-gray: rgba(0, 0, 0, 0.5);
$charcoal: #333;
