.wrapper {
    height: 100%;
    width: 40%;
    float: right;
    text-align: left;
}

.message_list {
    height: 200px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.message {
    padding-left: 5px;
    border-left: 1px solid black;
}

.form {
    width: 100%;
}

.form input {
    width: 70%;
}

.form button {
    color: var(--light-text);
    background: var(--dark-blue);
    height: 100%;
    width: 20%;
    padding: 6px;
    text-decoration: none;
    border: none;
}
  
.form button:hover {
    background: var(--light-blue);
    text-decoration: none;
}