.player_info {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
    padding: 2px;
    width: 100%;
    min-width: 600px;
    max-width: 860px;
}

.hand {
    display: flex;
    flex-flow: row wrap;
}

.bet_input {
    /* border: 1px solid black; */
    flex-grow: 3;
}

.button {
    color: var(--light-text);
    background: var(--dark-blue);
    padding: 10px 20px 10px 20px;
    width: 33%;
    height: 100%;
    text-decoration: none;
    border: none;
}
  
.button:hover {
    background: var(--light-blue);
    text-decoration: none;
}