.player_info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
    padding: 2px;
    height: 100%;
    flex-grow: 3;
}

.hand {
    display: flex;
    flex-flow: row wrap;
}

.bet_input {
    /* border: 1px solid black; */
    flex-grow: 3;
}