.game_info {
    text-align: left;
    width: 200px;
    font-size: 1em;
    position:absolute;
}

.game_table {
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 90px;
    padding-top: 100px;
    width: 80%;
    min-width: 860px;
    min-height: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: 200px;
    background-color: var(--dark-green);
    color: var(--light-text);
}

/* seating arrangements */

.player_seat {
    width: 175px;
    height: 150px;
    position: absolute;
    padding: 6px;
    left: 100px;
    bottom: 0;
    background-color: rgba(30, 30, 30, 0.8);
    border-radius: 20px;
    transform: translate(-50%, 50%);
    font-size: 18px;
}

.their_turn {
    border: 2px solid var(--dark-red);
}

.player_seat .player_info_top {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.player_info_top .sigil {
    width: 40px;
    border-radius: 10px;
    overflow: hidden;
    float: left;
}

.player_info_top .name_display {
    width: 135px;
    float: right;
}

.their_turn {
    -webkit-box-shadow:inset 0px 0px 0px 3px #fff;
    -moz-box-shadow:inset 0px 0px 0px 3px #fff;
    box-shadow:inset 0px 0px 0px 3px #fff;
}

.player_seat:nth-of-type(1) .dealer_btn {
    top: -10px;
    right: -25px;
}

.player_seat:nth-of-type(2) {
    left: 0;
    top: 50%;
    transform: translate(-50%, -70%);
}

.player_seat:nth-of-type(2) .dealer_btn {
    bottom: 30px;
    right: -30px;
}

.player_seat:nth-of-type(3) {
    left: 25%;
    top: 0;
    transform: translate(-50%, -50%);
}

.player_seat:nth-of-type(3) .dealer_btn {
    bottom: -10px;
    right: -25px;
}

.player_seat:nth-of-type(4) {
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

.player_seat:nth-of-type(4) .dealer_btn {
    bottom: -10px;
    right: -25px;
}

.player_seat:nth-of-type(5) {
    left: 75%;
    top: 0;
    transform: translate(-50%, -50%);
}

.player_seat:nth-of-type(5) .dealer_btn {
    bottom: -10px;
    right: -25px;
}

.player_seat:nth-of-type(6) {
    right: 0;
    left: auto;
    top: 50%;
    transform: translate(50%, -70%);
}

.player_seat:nth-of-type(6) .dealer_btn {
    bottom: 30px;
    left: -30px;
}

.player_seat:nth-of-type(7) {
    right: 100px;
    left: auto;
    bottom: 0;
    transform: translate(50%, 50%);
}

.player_seat:nth-of-type(7) .dealer_btn {
    top: -10px;
    left: -25px;
}

.game_table h3 {
    font-size: 24px;
}

.game_table .dealer_btn {
    bottom: 10px;
    left: 45%;
}

/* pattern sourced from https://www.magicpattern.design/tools/css-backgrounds */
.small_card {
    display: flex;
    width: 30px;
    height: 45px;
    border: 2px solid black;
    background-color: #c8c8c8;
    background-image:  linear-gradient(30deg, #cf0000 12%, transparent 12.5%, transparent 87%, #cf0000 87.5%, #cf0000), linear-gradient(150deg, #cf0000 12%, transparent 12.5%, transparent 87%, #cf0000 87.5%, #cf0000), linear-gradient(30deg, #cf0000 12%, transparent 12.5%, transparent 87%, #cf0000 87.5%, #cf0000), linear-gradient(150deg, #cf0000 12%, transparent 12.5%, transparent 87%, #cf0000 87.5%, #cf0000), linear-gradient(60deg, #cf000077 25%, transparent 25.5%, transparent 75%, #cf000077 75%, #cf000077), linear-gradient(60deg, #cf000077 25%, transparent 25.5%, transparent 75%, #cf000077 75%, #cf000077);
    background-size: 8px 14px;
    background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
}

.small_card:nth-of-type(1) {
    transform: rotate(-8deg) translate(10px);
}

.small_card:nth-of-type(2) {
    transform: rotate(8deg) translate(-10px);
}

.player_info_bot {
    width: 100%;
}

.chips {
    float: right;
    width: 105px;
    min-height: 40px;
}

.player_cards {
    display: flex;
    flex-flow: row wrap;
    width: 70px;
    justify-content: center;
    float: left;
}

.timer {
    margin-top: 80px;
}

.board {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.dealer_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 15px;
    padding: 4px;
}