@use '../../styles/colors.scss' as colors;
@use '../../styles/border.scss' as border;

.chat {
  background: white;
  border-radius: 4px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50%;
  max-width: calc(100% - 200px);
  max-height: 200px;

  &.hidden {
    width: 106px;
  }

  .hide {
    // border-bottom: 1px solid lightgray;
    padding: 4px 8px;
    justify-content: flex-end;
    cursor: pointer;

    span {
      margin-right: 4px;
    }
  }

  .messages {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;

    .game-update {
      margin: 2px;
      padding: 2px 8px;
      max-width: 80%;
      width: fit-content;
      align-items: flex-start;
      color: gray;
      font-size: 13px;
    }

    .message {
      border-radius: 4px;
      margin: 2px;
      background: rgb(200,200,200);
      padding: 2px 8px;
      max-width: 80%;
      width: fit-content;
      align-items: flex-start;
      display: inline;

      .sigil-container {
        display: inline;
      }
      
      .author {
        margin-right: 8px;
        display: inline;
        
        .text {
          font-size: 13px;
        }
        .moon-prefix {
          font-size: 12px;
          vertical-align: top;
        }
      }
      .msg-text {
        font-size: 13px;
      }

      &.self {
        background: gray;
        color: white;
        align-self: flex-end;

        .author {
          justify-content: flex-end;
          
          .text {
            font-size: 13px;
          }
          .moon-prefix {
            font-size: 12px;
            vertical-align: top;
          }
        }
      }
    }
  }

  form {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 4px;

    .input-container {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: calc(100% - 32px);
      
      input {
        height: 32px;
      }
    }
    button {
      padding: 5px;
      height: 32px;

      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
