@use '../../styles/colors.scss' as colors;
@use '../../styles/border.scss' as border;

.game-actions {
  margin: 4px 0 0 -100px;
  align-items: flex-end;
  width: calc(50% - 16px);

  .row {
    width: 100%;
  }

  .bet-amount {
    justify-content: flex-end;
  }
  
  input.input.bet-slider {
    margin-bottom: 4px;
    width: 100%;
    background-color: #383838;
    
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 20px; /* Specified height */
    background: none; /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;

    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      appearance: none;
      height: 6px;
      background: #ae0000;
    }

    &::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      border: none;
      height: 24px;
      width: 12px;
      border-radius: 2px;
      background: #ae0000;
      margin-top: -9px;
      cursor: pointer;
    }
    
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      border: none;
      height: 24px;
      width: 12px;
      border-radius: 2px;
      background: #ae0000;
      margin-top: -9px;
      cursor: pointer;
    }
    
    // &:focus {
    //   outline: none;
    // }
    
    &:focus::-webkit-slider-runnable-track {
      background: #ae0000;
    }
  }

  input.input.bet-text {
    font-size: 20px;
    height: 32px;
    margin-bottom: 4px;
    width: 80px;
  }

  .quick-bet {
    margin-bottom: 8px;
    width: 100%;

    .bet-buttons {
      width: 50%;
      align-self: flex-end;

      button {
        font-size: 16px;
        padding: 4px;
        min-width: 44px;
      }
    }
  }

  button {
    margin-left: 8px;
    padding: 8px 0;
    font-size: 20px;
    background: radial-gradient(circle at center, #cb3b3b 0, #ae0000);
    box-shadow: 3px 3px 5px rgb(48, 15, 15);
    color: white;
    width: 32%;

    &:hover {
      background-color: #cb3b3b;
    }
  }

  @media screen and (max-width: 800px) {
    width: 100%;
    padding-left: 8px;

  }
}
