@use '../../styles/colors.scss' as colors;

.navbar {
  margin: 16px 36px;
  // border-bottom: 2px solid rgba(colors.$uq-pink, 0.3);
  justify-content: space-between;
  position: relative;

  @media only screen and (max-width: 600px) {
    margin: 16px 4px;
  }

  .nav-link {
    padding: 8px 16px;
    text-decoration: none;
    // border-bottom: 2px solid rgba(colors.$uq-pink, 0);
    margin-bottom: -2px;
    font-weight: 600;
    color: colors.$uq-purple;

    @media only screen and (max-width: 600px) {
      padding: 8px 20px;
    }

    // &.selected {
    //   border-bottom-color: colors.$uq-purple;
    // }

    &.logo {
      padding: 2px 8px 2px 12px;
      img {
        height: 28px;
      }
    }

    .account {
      color: colors.$uq-purple;
      text-decoration: none;
    }
  }

  .town {
    @media only screen and (max-width: 400px) {
      position: absolute;
      top: 48px;
      right: 8px;
      cursor: pointer;
    }
  }
}
