/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End CSS Reset */

:root {
    --bg: #F2E6D0;
    --red: #BF0404;
    --dark-red: #592525;
    --dark-green: #0E4015;
    --light-green: #215918;
}

.challenge-list {
    border: 1px solid black;
}
tr, td {
    border: 1px solid black;
    padding: 2px;
}

body {
    background-color: var(--bg);
}

header {
    display: flex;
    justify-content: space-around;
    top: 0px;
    height: 20px;
    width: 100%;
    background-color: #000;
    color: #fff;
    margin-bottom: 25px;
}

header a {
    color: #fff;
    text-decoration: underline;
}

header a:visited {
    color: #fff;
}

.game-wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.game-info {
    text-align: center;
    /* border: 1px solid black; */
}

.game-info p {
    font-size: 12px;
}

.game-table {
    position: relative;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 75px;
    padding-top: 75px;
    min-width: 800px;
    min-height: 300px;
    text-align: center;
    border: 2px solid black;
    border-radius: 200px;
    background-color: var(--dark-red);
    color: #fff;
}

/* seating arrangements */

.player-seat {
    width: 150px;
    height: 150px;
    position: absolute;
    padding: 6px;
    left: 100px;
    bottom: 0;
    background-color: rgba(30, 30, 30, 0.8);
    border-radius: 20px;
    transform: translate(-50%, 50%);
    font-size: 18px;
}

.player-seat .name-display {
    width: 100%;
    height: 25px;
    margin-bottom: 3px;
}

.player-seat .name-display .sigil-small {
    display: inline-block !important;
    vertical-align: middle;
}

.player-seat .name-display p {
    display: inline;
}

.player-seat.their-turn {
    -webkit-box-shadow:inset 0px 0px 0px 3px #fff;
    -moz-box-shadow:inset 0px 0px 0px 3px #fff;
    box-shadow:inset 0px 0px 0px 3px #fff;
}

.player-seat:nth-of-type(2) {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.player-seat:nth-of-type(3) {
    left: 25%;
    top: 0;
    transform: translate(-50%, -50%);
}

.player-seat:nth-of-type(4) {
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

.player-seat:nth-of-type(5) {
    left: 75%;
    top: 0;
    transform: translate(-50%, -50%);
}

.player-seat:nth-of-type(6) {
    right: 0;
    left: auto;
    top: 50%;
    transform: translate(50%, -50%);
}

.player-seat:nth-of-type(7) {
    right: 100px;
    left: auto;
    bottom: 0;
    transform: translate(50%, 50%);
}

.game-table h3 {
    font-size: 24px;
}

.player-info {
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
    padding: 2px;
    width: 600px;
}

.player-info .profile {
    /* border: 1px solid black; */
}

.player-info .bet-input {
    /* border: 1px solid black; */
    flex-grow: 3;
}

/*  card rendering stuff */


.player-cards {
    display: flex;
    flex-flow: row wrap;
    min-width: 64px;
    justify-content: center;
}

.hand, .board {
    display: flex;
    flex-flow: row wrap;
}

.board {
    justify-content: center;
}

.card {
    display: flex;
    width: 72px;
    height: 120px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid black;
    margin: 4px;
    padding: 4px;
}

.small-card {
    display: flex;
    width: 40px;
    height: 60px;
    border: 2px solid black;
}

.small-card:nth-of-type(1) {
    transform: translate(10px);
}

.small-card:nth-of-type(2) {
    transform: translate(-10px);
}

/* pattern sourced from https://www.magicpattern.design/tools/css-backgrounds */
.small-card.hidden {
    background-color: #c8c8c8;
    background-image:  linear-gradient(30deg, #cf0000 12%, transparent 12.5%, transparent 87%, #cf0000 87.5%, #cf0000), linear-gradient(150deg, #cf0000 12%, transparent 12.5%, transparent 87%, #cf0000 87.5%, #cf0000), linear-gradient(30deg, #cf0000 12%, transparent 12.5%, transparent 87%, #cf0000 87.5%, #cf0000), linear-gradient(150deg, #cf0000 12%, transparent 12.5%, transparent 87%, #cf0000 87.5%, #cf0000), linear-gradient(60deg, #cf000077 25%, transparent 25.5%, transparent 75%, #cf000077 75%, #cf000077), linear-gradient(60deg, #cf000077 25%, transparent 25.5%, transparent 75%, #cf000077 75%, #cf000077);
    background-size: 8px 14px;
    background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
}
  
.black {
    color: black;
}
  
.red {
    color: red;
}

.green {
    color: green;
}
  
.blue {
    color: blue;
}
  
.card-value {
    font-size: 24px;
}
  
.card-suit {
    font-size: 18px;
}
  
.card-top {
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;
    align-items: flex-start;
}
  
.card-bot {
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;
    justify-content: flex-start;
    transform:rotate(-180deg);
}