.player_info {
    width: 60%;
    height: 200px;
    float: left;
    display: flex;
    justify-content: flex-end;
}

.profile {
    height: 100%;
    width: 150px;
    text-align: center;
}

.profile svg {
    border-radius: 25px;
    overflow: hidden;
}

.hand {
    height: 100%;
    width: 156px;
    margin-left: 10px;
    flex-shrink: 0;
    display: flex;
    flex-flow: row wrap;
}

.hand p {
    position: absolute;
    margin-top: 130px;
}

.bet_input {
    width: 400px;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
}

.rangeInput {
    width: 200px;
    margin: 10px auto;
}

.button {
    color: var(--light-text);
    background: var(--dark-blue);
    padding: 10px 20px 10px 20px;
    width: 33.3%;
    float: left;
    height: 100%;
    text-decoration: none;
    border: none;
}
  
.button:hover {
    background: var(--light-blue);
    text-decoration: none;
}