.wrapper {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    display:grid;
}

.lower {
    width: 100%;
}

.leave_game {
    position: absolute;
    right: 50px;
    top: 50px;
    color: var(--light-text);
    background: var(--dark-red);
    padding: 10px 20px 10px 20px;
    width: 200px;
    text-decoration: none;
    border: none;
}
  
.leave_game:hover {
    background: var(--red);
    text-decoration: none;
}