@use '../../styles/colors.scss' as colors;
@use '../../styles/border.scss' as border;

.dropdown {
  font-size: 14px;
  position: relative;

  .close-background {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .selector {
    background-color: colors.$washed-gray;
    padding: 8px;
    min-width: 84px;
    border-radius: border.$br-md;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    svg {
      width: 16px;
      height: 14px;
    }

    &.open > svg {
      transform: rotate(180deg);
    }
  }

  &.unstyled {
    .selector {
      background-color: inherit;
    }
  }

  &.accounts-dropdown .selector {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .content-border {
    border: 3px solid colors.$washed-gray;
    position: absolute;
    top: 36px;
    left: -3px;
    border-radius: border.$br-md;
    z-index: 2;

    .dropdown-content {
      border-radius: border.$br-md;
      background-color: white;
      border: 1px solid colors.$light-gray;
      max-height: 400px;
      overflow-y: scroll;
      overflow-x: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
