.text {
  line-height: 1.33333;
  font-size: 0.875rem;

  &.mono {
    font-family: monospace, monospace;
  }

  &.one-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.break {
    word-break: break-all;
  }

  &.large {
    font-size: 1rem;
  }

  &.bold {
    font-weight: 600;
  }
}
