@use '../styles/colors.scss' as colors;
@use '../styles/border.scss' as border;

.table-view {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;

  .background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../assets/img/lobby-pink.jpeg');
    background-size: cover;
    opacity: 0.6;
    z-index: 0;
  }

  .content {
    z-index: 1;
    border-radius: 8px;
    background: rgba(255,255,255,0.8);
    max-width: 800px;
    min-width: 500px;
    justify-content: center;
    align-items: center;
    padding: 24px;

    h2, h3, h4 {
      font-weight: 500;
      text-align: center;
      margin: 0;
    }

    .table-info {
      margin-bottom: 8px;
      align-items: flex-end;

      h4 {
        margin: 0 8px 0 0;
        text-align: left;
      }

      span {
        font-size: 16px;
        margin-bottom: -2px;
      }
    }

    .players {
      .player {
        margin-top: 8px;
      }
    }
  }
}
